<div style="width:100%;">
    <h3 class="side-separator" style="width:600px;">{{ header-text }}</h3>

    <time class="side-separator" itemprop="datePublished" datetime="January 06, 2020">{{ time-text }}</time>
</div>