<p>
  <button class="button orange">{{ button-text }}</button> <button class="button orange secondary">Secondary: {{ button-text }}</button>
</p>

<p>
  <a class="button orange" href="#">{{ link-text }}</a> <a class="button orange secondary" href="#">Secondary: {{ link-text }}</a>
</p>
