<p>
  <button class="button">{{ button-text }}</button> <button class="button secondary">Secondary: {{ button-text }}</button>
</p>

<p>
  <a class="button" href="#">{{ link-text }}</a> <a class="button secondary" href="#">Secondary: {{ link-text }}</a>
</p>
