<p>
  <button class="button dark">{{ button-text }}</button> <button class="button dark secondary">Secondary: {{ button-text }}</button>
</p>

<p>
  <a class="button dark" href="#">{{ link-text }}</a> <a class="button dark secondary" href="#">Secondary: {{ link-text }}</a>
</p>
