<p>
  <button class="button arrow">{{ button-text }}</button> <button class="button arrow secondary">Secondary: {{ button-text }}</button>
</p>

<p>
  <a class="button arrow" href="#">{{ link-text }}</a> <a class="button arrow secondary" href="#">Secondary: {{ link-text }}</a>
</p>
