@import url('https://fonts.googleapis.com/css?family=Overpass+Mono|PT+Serif&display=swap');
@import url('https://use.typekit.net/pzp3axi.css');

.center-content {  
  align-items: center;
  display: flex;
  height: 100vh;
  justify-items: center;
}

.yield {
  margin: 0 auto;
  min-width: 600px;
  width: max-content;
}
