<div class="illustrated-bullet">
    <h4 class="h5 margin-bottom-1">Identify Top Talent</h4>
    
    <p class="margin-bottom-0">
        Use Aquent’s deep industry-specific talent pool and recruiting
        connections to identify top candidates.
    </p>
</div>