<p>
  <button class="button small">{{ button-text }}</button> <button class="button small secondary">Secondary: {{ button-text }}</button>
</p>

<p>
  <a class="button small" href="#">{{ link-text }}</a> <a class="button small secondary" href="#">Secondary: {{ link-text }}</a>
</p>
