<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Web Component Preview Layout</title>
    <link media="all" rel="stylesheet" href="{{path 'https://aquent.com/css/main.css'}}">
    <link media="all" rel="stylesheet" href="/css/preview.css">

    <!-- Begin web component definitions -->
    <script src="/js/web-components/cookie-banner.js"></script>
    <!-- End web component definitions -->
</head>

<body>
  <div class="center-content">
    {{{ yield }}}
  </div>
</body>
</html>
